.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}

.list {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .list {
    flex-direction: column;
  }
}
